/* xs */
/* @media (min-width: 475px) {
 
} */

/* sm */
/* @media (min-width: 640px) {
 
} */

/* md */
/* @media (min-width: 768px) {
 
} */

/* lg */
/* @media (min-width: 1024px) {
 
} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {
  
} */

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #ff525270;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.btn:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 5rem;
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
