.productCardContainer {
  border: 1px red solid;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  overflow-y: scroll;
}

.ProductWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 20px;
}
